.Wrapper{
    display: flex;
    flex-direction: column;
    padding: 120px 15px;
    align-items: center;
}
.Title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #01437C;
    margin-bottom: 60px;
}
.Button{
    width: 386px;
    height: 74px;
}







.Title{
    width: 1252px;
}

@media only screen and (max-width: 1300px) {
    .Title{
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .Button{
        width: 280px;
    }
    .Title{
        font-size: 42px;
    }
}