.Wrapper{
    width: 380px;
    height: 600px;
    min-width: 380px;
    position: relative;
    transition: 0.2s;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F0F0F0;
}
.Wrapper::after{
    content: '';
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    border: 3px solid #01437C;
    top: 15px;
    left: 15px;
    transition: 0.2s;
}
.TitleAndDate{
    display: flex;
    justify-content: space-between;
}
.Title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #01437C;
}
.Date{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #01437C;
}
.Author{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #01437C;
}
.Content{
    font-family: "Ubuntu", sans-serif;
    color: #01437C;
    font-weight: 300;
    font-size: 18px;
    max-height: 420px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
.ReadMore{
    font-family: "Ubuntu", sans-serif;
    color: #00AEEF;
    font-weight: 300;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    position: relative;
    z-index: 3;
    cursor: pointer;
}
@media only screen and (max-width: 410px) {
    .Wrapper{
        width: 360px;
        min-width: 360px;
    }
}
@media only screen and (max-width: 390px) {
    .Wrapper{
        width: 340px;
        min-width: 340px;
    }
}
@media only screen and (max-width: 370px) {
    .Wrapper{
        width: 320px;
        min-width: 320px;
    }
}
@media only screen and (max-width: 350px) {
    .Wrapper{
        width: 300px;
        min-width: 300px;
    }
}
@media only screen and (max-width: 330px) {
    .Wrapper{
        width: 280px;
        min-width: 280px;
    }
}