.Wrapper{
    width: 895px;
    display: flex;
    gap: 20px;
}
.PhotoContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.Photo{
    width: 387px;
    height: 271px;
}
.Caption{
    font-family: "Ubuntu", sans-serif;
    color: #01437C;
    font-weight: 300;
    font-size: 12px;
}
.Text{
    font-family: "Ubuntu", sans-serif;
    color: #01437C;
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
}
@media only screen and (max-width: 1200px) {
    .Wrapper{
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .Text{
        font-size: 12px;
    }
}
@media only screen and (max-width: 640px) {
    .Wrapper{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .Text{
        font-size: 15px;
        align-self: self-start;
    }
}
@media only screen and (max-width: 420px) {
    .Text{
        font-size: 12px;
        align-self: self-start;
    }
    .Photo{
        width: 100%;
        aspect-ratio: 1.5;
        height: auto;
    }
}