.Wrapper{
    display: flex;
    flex-direction: column;
    padding: 120px 15px;
    align-items: center;
}
.Person{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
    max-width: 1200px;
}
.PersonMainData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Name{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #01437C;
    max-width: 700px;
    margin-bottom: 25px;
}
.LifeTime{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #01437C;
    margin-bottom: 25px;
}
.Rank{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #01437C;
    max-width: 700px;
    margin-bottom: 55px;
}
.tags{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 700px;
}
.tag{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00AEEF;
}
.PersonPhoto{
    width: 387px;
    height: 498px;
    position: relative;
}
.PersonPhoto::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}
.PersonPhoto:hover::before{
    background: none;
}
.RecommendedWrapper{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.RecommendedTitle{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #01437C;
}
.RecommendedButton{
    width: 274px;
    height: 47px;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.RecommendedPersonWrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media only screen and (max-width: 1230px) {
    .RecommendedWrapper{
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .Wrapper{
        padding: 120px 15px;
    }
    .Person{
        width: 100%;
    }
    .RecommendedPersonWrapper{
        width: 100%;
        justify-content: start;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 1024px) {
    .PersonPhoto{
        width: 50%;
        aspect-ratio: 0.7;
        height: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Name{
        font-size: 52px;
    }
    .Person{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .PersonPhoto{
        width: 70%;
        aspect-ratio: 0.7;
        height: auto;
    }
}
@media only screen and (max-width: 650px) {
    .RecommendedWrapper{
        align-items: center;
    }
    .RecommendedTitle{
        font-size: 32px;
    }
    .RecommendedButton{
        width: auto;
    }
}
@media only screen and (max-width: 600px) {
    .PersonPhoto{
        width: 90%;
        aspect-ratio: 0.7;
        height: auto;
    }
}
@media only screen and (max-width: 500px) {
    .RecommendedTitle{
        font-size: 24px;
    }
    .RecommendedButton{
        width: auto;
        font-size: 12px;
    }
}
@media only screen and (max-width: 450px) {
    .RecommendedWrapper{
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }
}
