.text{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #00AEEF;
    position: relative;
    margin-bottom: 2px;
    max-width: 60%;
}
.Line{
    width: 100%;
    height: 4px;
    background-color: #01437C;
    position: relative;
}
.SubLine{
    position: absolute;
    width: 4px;
    height: 20px;
    top: -9px;
    background-color: #01437C;
}