.Wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 120px 15px;
    align-items: center;
}
.Title, .Title2, .firstText, .secondText, .LinkCheckbox, .LabelForCheckbox{
    font-family: "Ubuntu", sans-serif;
    color: #01437C;
}
.Title{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 80px;
}
.Title2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}
.TextForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.blablabla{
    display: flex;
    width: 40%;
    flex-direction: column;
}
.Form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.firstText{
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}
.secondText{
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.InputTextArea{
    height: 250px;
}
.InputText, .InputTextArea{
    border: none;
    background-color: transparent;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #01437C;
    transition: 0.2s;
    width: 100%;
    border: 2px solid #01437C;
    padding: 20px 30px;
    width: 100%;
}

.InputText::placeholder, .InputTextArea::placeholder{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #01437C;
    opacity: 40%;
    transition: 0.2s;
}
.CheckboxWrapper{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}
.LabelForCheckbox{
    font-weight: 300;
    font-size: 12px;
}
.LinkCheckbox{
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #00AEEF;
    cursor: pointer;
}
.Checkbox{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 20px; height: 20px;
    border: 2px solid #01437C;
    transition: 0.2s;
}
.Checkbox.Active{
    background-color: #00AEEF;
}
.FormBtn{
    width: 215px;
height: 47px;

}
.AboutWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




.Title{
    width: 1252px;
}
.Title2{
    width: 1252px;
}
.TextForm{
    width: 1252px;
}
.AboutWrapper{
    width: 1252px;
}
@media only screen and (max-width: 1300px) {
    .Title, .Title2, .TextForm, .AboutWrapper{
        width: 100%;
    }
}
@media only screen and (max-width: 1000px) {
    .TextForm{
        flex-direction: column;
    }
    .blablabla{
        width: 100%;
    }
    .Form{
        width: 100%;
    }
    .AboutWrapper{
        flex-direction: column;
        gap: 30px;    
    }
}
@media only screen and (max-width: 800px) {
    .Button{
        width: 280px;
    }
    .Title{
        font-size: 42px;
    }
    .Title2{
        font-size: 24px;
    }
}