.Wrapper{
    display: flex;
    flex-direction: column;
    padding: 120px 200px;
    align-items: end;
    gap: 40px;
    position: relative;
}
.DateAuthorTime{
    position: absolute;
    top: 150px;
    left: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Source{
    position: absolute;
    bottom: 150px;
    left: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 250px;
}
.Date, .subTitle, .title{
    font-family: "Ubuntu", sans-serif;
    color: #01437C;
}

.Date{
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.subTitle{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.title{
    font-weight: 700;
    font-size: 20px;
}
@media only screen and (max-width: 1550px) {
    .Wrapper{
        padding: 120px 150px;
    }
    .DateAuthorTime{
        left: 150px;
    }
    .Source{
        left: 150px;
    }
}
@media only screen and (max-width: 1450px) {
    .Wrapper{
        padding: 120px 100px;
    }
    .DateAuthorTime{
        left: 100px;
    }
    .Source{
        left: 100px;
    }
}
@media only screen and (max-width: 1400px) {
    .Wrapper{
        padding: 120px 50px;
    }
    .DateAuthorTime{
        left: 50px;
    }
    .Source{
        left: 50px;
    }
}
@media only screen and (max-width: 1350px) {
    .Wrapper{
        padding: 120px 15px;
    }
    .DateAuthorTime{
        left: 15px;
    }
    .Source{
        left: 15px;
    }
}
@media only screen and (max-width: 1200px) {
    .DateAuthorTime{
        display: none
    }
    .Source{
        display: none
    }
}
