.Wrapper{
    width: 793px;
    display: flex;
    text-align: start;
}
.text{
    text-align: start;
    font-family: "Ubuntu", sans-serif;
    color: #01437C;
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
}
@media only screen and (max-width: 1200px) {
    .Wrapper{
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .text{
        font-size: 15px;
    }
}
@media only screen and (max-width: 420px) {
    .text{
        font-size: 12px;
    }
}