.Wrapper{
    display: flex;
    flex-direction: column;
    padding: 120px 200px;
    width: 100%;
}
.InnerWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    gap: 40px;
    position: relative;
}
.Title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #01437c;
}
.ButtonContainer{
    width: 793px;
    display: flex;
    justify-content: start;
}
.Button{
    width: 284px;
    height: 47px;
}