.Wrapper{
    display: flex;
    flex-direction: column;
    padding: 120px 200px;
    width: 100%;
    overflow: hidden;
}
.InnerWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    gap: 40px;
    position: relative;
}
.Title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #01437c;
}
.ButtonContainer{
    width: 793px;
    display: flex;
    justify-content: start;
}
.ButtonContainer2{
    width: 895px;
    display: flex;
    justify-content: start;

}
.Button{
    width: 284px;
    height: 47px;
}
.Button2{
    padding-left: 30px;
    padding-right: 30px;
}
.VideoItem{
    width: 387px;
    height: 311px;
    position: relative;
}
.VideoCenter{
    position: absolute;
    width: 90px;
    height: 90px;
    background: url(../../../assets/img/Play_1.svg) no-repeat;
    background-size: cover;
    transition: 0.2s;
    cursor: pointer;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
}
.VideoCenter:hover{
    background: url(../../../assets/img/Play_2.svg) no-repeat;
    background-size: cover;
}
.VideoCaption{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0.02em;
    color: #01437c;
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    text-align: start;
}
.LeftNav{
    position: fixed;
    top: calc(272px + 120px + 60px);
    left: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.2s;
    max-width: 15%;
}
.LeftNavItemDate{
    font-family: "Ubuntu", sans-serif;
    color: #01437c;
    font-weight: 700;
    font-size: 40px;
}
.LeftNavItem{
    font-family: "Ubuntu", sans-serif;
    color: #01437c;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}
.LeftNavItem:hover{
    color: #00AEEF;
}
.LeftPanelSection{
    position: relative;
}


@media only screen and (max-width: 1600px) {
    .Wrapper{
        padding: 120px 150px;
    }
    .LeftNav{
        left: 150px;
    }
}
@media only screen and (max-width: 1500px) {
    .Wrapper{
        padding: 120px 100px;
    }
    .LeftNav{
        left: 100px;
    }
}
@media only screen and (max-width: 1400px) {
    .Wrapper{
        padding: 120px 50px;
    }
    .LeftNav{
        left: 50px;
    }
}
@media only screen and (max-width: 1300px) {
    .Wrapper{
        padding: 120px 15px;
    }
    .LeftNav{
        left: 15px;
    }
}
@media only screen and (max-width: 1230px) {
    .LeftNav{
        display: none;
    }
    .ButtonContainer{
        width: 100%;
    }
    .ButtonContainer2{
        width: 100%;
    }
}
.LeftNavAdaptive{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 800px) {
    .LeftNavAdaptive{
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }
}
@media only screen and (max-width: 410px) {
    .Title{
        font-size: 48px;
    }
}