.Wrapper{
        display: flex;
        flex-direction: column;
        padding: 60px 15px 120px 15px;
        width: 100%;
        align-items: center;
}
.TabsSelector{
    display: flex;
    width: 1200px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
}
.TabsBtn{
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #01437C;
    border-bottom: #01437C dashed 1px;
    transition: 0.2s;
}
.TabsBtn:hover{
    border-bottom: #00AEEF solid 1px;
}
.TabsBtn.Active{
    color: #00AEEF;
    border-bottom: #00AEEF solid 1px;
}
.Title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #01437C;
    max-width: 1200px;
    width: 1200px;
    margin-bottom: 60px;
}
.FTextAndPhoto{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}
.Photo{
    width: 508px;
    height: 368px;
    position: relative;
    cursor: pointer;
}
.Photo::after{
    content: '';
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    top: 15px;
    left: 15px;
    border: 3px solid #01437C;
    transition: 0.2s;
}
.Photo:hover::after{
    border: 3px solid #00AEEF;
}
.Text{
    width: 50%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: #01437C;
}
.Personality{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 1200px;

}
.PersonalityTitle{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #01437C;
}
.PersonalityBtn{
    width: 274px;
    height: 47px;
    padding: 15px 30px;
}
.PersonsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
@media only screen and (max-width: 1230px) {
    .TabsSelector{
        width: 100%;
    }
    .Title{
        max-width: 100%;
        width: 100%;
    }
    .FTextAndPhoto{
        width: 100%;
    }
    .Personality{
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .FTextAndPhoto{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .Photo{
        width: 100%;
        aspect-ratio: 1.4;
        height: auto;
    }
    .Text{
        width: 100%;
    }
    .PersonsContainer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        gap: 20px;
        overflow-x: scroll;
        max-width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .TabsBtn{
        font-size: 12px;
    }
    .Title{
        font-size: 52px;
    }
}
@media only screen and (max-width: 640px) {
    .PersonalityBtn{
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .Title{
        font-size: 36px;
    }
}
@media only screen and (max-width: 420px) {
    .TabsSelector{
        gap: 10px;
    }
    .Text{
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px) {
    .Title{
        font-size: 28px;
    }
}