.Wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    border-bottom: 4px solid #00385C;
    min-height: 60px;
}
.CaruseltypeButtons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.btnNews, .btnArticle, .btnFeedbacks{
    font-family: "Ubuntu", sans-serif;;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #00385C;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}
.btnNews.active, .btnArticle.active, .btnFeedbacks.active{
    font-family: "Ubuntu", sans-serif;;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #00AEEF;
    position: relative;
}
.btnNews.active::after, .btnArticle.active::after, .btnFeedbacks.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #00AEEF;
    position: absolute;
    bottom: -4px;
    left: -2px;
}

.AllLinks{
    font-family: "Ubuntu", sans-serif;;
    font-weight: 300;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #00AEEF;
    cursor: pointer;
    position: relative;
    top: -2px;
}
@media only screen and (max-width: 640px) {
    .btnNews, .btnArticle, .btnFeedbacks{
        font-size: 18px;
    }
    .btnNews.active, .btnArticle.active, .btnFeedbacks.active{
        font-size: 24px;
    }
}
@media only screen and (max-width: 500px) {
    .CaruseltypeButtons{
        gap: 15px;
    }
}
@media only screen and (max-width: 475px) {
    .CaruseltypeButtons{
        gap: 5px;
    }
    .btnNews, .btnArticle, .btnFeedbacks{
        font-size: 16px;
    }
    .btnNews.active, .btnArticle.active, .btnFeedbacks.active{
        font-size: 22px;
    }
    .AllLinks{
        font-size: 12px;
    }
}
@media only screen and (max-width: 420px) {
    .btnNews, .btnArticle, .btnFeedbacks{
        font-size: 14px;
    }
    .btnNews.active, .btnArticle.active, .btnFeedbacks.active{
        font-size: 20px;
    }
    .AllLinks{
        font-size: 8px;
    }
}
@media only screen and (max-width: 360px) {
    .btnNews, .btnArticle, .btnFeedbacks{
        font-size: 12px;
    }
    .btnNews.active, .btnArticle.active, .btnFeedbacks.active{
        font-size: 18px;
    }
    .AllLinks{
        font-size: 8px;
    }
}
@media only screen and (max-width: 340px) {
    .AllLinks{
        display: none;
    }
}