.Block{
    width: 895px;
    height: 504px;
    background-color: #cccccc;
    margin-left: 505px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    cursor: pointer;
    position: relative;
}
.Block::after{
    content: '';
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border: 3px solid #01437c;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    transition: 0.2s;
}
.Block:hover::after{
    border-color: #00aeef;;
}
.PlayerWrapper::after{
    display: none;
}
.PlayerWrapper:hover:after{
    display: none;
}
.Block:hover .Svg{
    background: url("../../assets/img/Play_2.svg") no-repeat;
    background-size: cover;
}
.Block .Svg{
    width: 90px;
    height: 90px;
    background: url("../../assets/img/Play_1.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    z-index: 2;
}
.Block .Svg:hover{
    background: url("../../assets/img/Play_2.svg") no-repeat;
    background-size: cover;
}
.Text{
    margin-left: 505px;
    margin-bottom: 40px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #01437c;
}
