.Wrapper{
    width: 380px;
    height: 600px;
    min-width: 380px;
    position: relative;
    transition: 0.2s;
    padding: 50px 45px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F0F0F0;
    justify-content: space-between;
    background: url(../../assets/img/ostavotzivpls.webp) no-repeat;
    background-size: cover;
}
.Text{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFF;
}
.Button{
    width: 100%;
    height: 69px;
}
@media only screen and (max-width: 420px) {
    .Wrapper{
        width: calc(100% - 30px);
        min-width: calc(100% - 30px);
    }
    .Text{
        font-size: 24px;
    }
    .Button{
        padding-right: 0;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
