.Wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    align-items: center;
}
.Title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #01437C;
    margin-bottom: 80px;
    align-self: flex-start;
}
.Links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.fitstleft{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.firstleftbottom{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.slink{
    background-color: #d0d0d0;
}
.second{
    width: 100%;
    display: flex;
}
.third{
    width: 100%;
    display: flex;
    justify-content: start;
}
.endSLink{
    position: relative;
    left: 406px;
}